/* Add Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", serif; */
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* Default CSS  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
.sm_btn{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #FD6E0A;
    border-radius: 3px;
    color: white;
    font-weight: 600;
}
.primary_bg{
    background-color: #FFF8F3;
}
.fixed_container{
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
}

/* Header Section CSS */
header nav {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
header nav .nav_logo a {
    font-size: 36px;
    font-weight: bolder;
    color: black;
}
header nav .nav_logo a span {
    color: #FD6E0A;
}
header nav .navigation {
    margin-right: 59px;
}
header nav .navigation ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header nav .navigation ul li a {
    /* background: aliceblue; */
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
}
header nav .navigation ul > :nth-child(3) a {
    padding: 0;
}
header nav .navigation ul li a button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #FD6E0A;
    border-radius: 3px;
    color: white;
    font-weight: 600;
}

.head_banner_section {
    width: 80%;
    margin: auto;
    padding: 30px 0px;
    display: flex;
    align-items: center;
}
.head_banner_section .head_banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.head_banner .head_text {
    flex-basis: 50%;
}
.head_banner .head_text p {
    font-size: 15px;
    opacity: 0.7;
}
.head_banner .head_text > :nth-child(1) {
    font-size: 41px;
}
.head_banner .head_text h1 {
    font-size: 60px;
    margin: 13px 0px;
}
.head_banner .head_img {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}
.head_banner .head_img img {
    width: 70%;
    z-index: 500;
}


.head_button {
    margin-top: 20px;
}
.head_button a button {
    padding: 14px 30px;
    margin-right: 10px;
}
/* Floating image */
header{
    position: relative;
}
header .floating_head_img_1 {
    position: absolute;
    left: 31px;
    top: 19px;
    height: 490px;
}
header .floating_head_img_2 {
    position: absolute;
    right: 106px;
    bottom: 31px;
    width: 500px;
    z-index: 0;
}

@media screen and (max-width:992px) {
    .head_banner_section .head_banner {
        flex-direction: column;
        row-gap: 22px;
    }
    .head_banner .head_text {
        flex-basis: 100%;
        text-align: center;
    }
    .head_banner .head_img {
        flex-basis: 100%;
        justify-content: center;
    }
    header .floating_head_img_2 {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    .head_banner .head_text h1 {
        font-size: 40px;
    }
    .head_button a button {
        padding: 10px 15px;
        font-size: 14px;
    }
}

@media screen and (max-width:576px) {
    .head_banner .head_text h1 {
        font-size: 30px;
    }
    header nav {
        width: 100%;
        flex-direction: column;
        row-gap: 20px;
    }
    header nav .navigation {
        margin-right: 0px;
    }
    .head_button a{
        display: block;
    }
    .head_button a button {
        width: 100%;
        margin-bottom: 10px;
    }
}




/* About Sectin CSS */
.about_section {
    margin: 50px 0px;
}
.about_content {
    padding: 50px 0px;
    width: 80%;
    margin: auto;
}
.about_content .about_text {
    text-align: center;
}
.about_content .about_text h1 {
    font-size: 33px;
}
.about_content .about_text p {
    line-height: 1.8rem;
    margin: 15px 0px;
}
.about_content .about_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 26px;
}
.about_content .about_details .about_item {
    flex-basis: 23%;
    font-size: 15px;
}

.about_content .about_details .about_item > :nth-child(2) {
    font-weight: 600;
    margin-top: 6px;
}
.flex-g{
    flex-grow: 2;
}
@media screen and (max-width:992px) {
    .about_content .about_details {
        row-gap: 15px;
    }
    .about_content .about_details .about_item {
        flex-basis: 50%;
        font-size: 16px;
        text-align: center;
    }
}
@media screen and (max-width:576px) {
    .about_content .about_details {
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
    }
    .about_content {
        padding: 20px 0px;
        width: 100%;
        margin: auto;
    }
    .about_section {
        margin: 20px 0px;
    }
}




/* Service Section CSS  */
.service-data {
    padding: 50px 0;
}
.service-data .service_title {
    text-align: center;
    padding: 30px 107px;
}
.service-data .service_title h1 {
    font-size: 35px;
    color: #181818;
}
.service-data .service_title p {
    line-height: 29px;
    font-size: 18px;
    margin-top: 20px;
    color: #757575;
}
.service-data .services_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    row-gap: 10px;
}
.service-data .services_card .service_item {
    flex-basis: 22%;
    padding: 20px;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.09);
}
.services_card .service_item .service_img img {
    max-width: 100%;
}
.services_card .service_item .service_text {
    padding: 30px 0px 5px;
}
.services_card .service_item .service_text h3 {
    margin-bottom: 20px;
    font-size: 20px;
}
.services_card .service_item .service_text p {
    line-height: 31px;
    color: #757575;
}

@media screen and (max-width:992px) {
    .service-data .services_card {
        row-gap: 50px;
    }
    .service-data .services_card .service_item {
        flex-basis: 45%;
    }
    
}
@media screen and (max-width:576px) {
    .service-data .services_card {
        flex-direction: column;
    }
    .service-data .service_title {
        padding: 30px 0px;
    }
    .service-data .service_title p {
        font-size: 16px;
    }
    .footer-right .footer_form {
        width: 100%;
    }
    .service-data {
        padding: 20px 0;
    }
}


/* Resume Section CSS */
.resume_section {
    margin: 50px 0px;
}
.resume_section .fixed_container > h1 {
    text-align: center;
    margin: 50px 0px;
    font-size: 35px;
}
.resume_section .resume_part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resume_part .education_part {
    flex-basis: 45%;
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
}
.resume_part .education_part .education_item {
    padding: 10px 0px 20px;
    border-bottom: 1px solid #7575757a;
}
.resume_part .education_part > :nth-child(4){
    border-bottom: none !important;
}
.resume_part .education_part > h2{
    color: #474747;
}
.resume_part .education_part .education_item h2 {
    color: #474747;
}
.resume_part .education_part .education_item h3 {
    color: #757575;
    font-weight: 400;
    margin: 2px 0px 18px;
}
.resume_part .education_part .education_item p {
    color: #757575;
}

.resume_btn{
    text-align: center;
    margin: 20px 0px;
}
.resume_btn button {
    padding: 17px 34px;
    display: inline-block;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .resume_section .resume_part {
        justify-content: center;
        row-gap: 20px;
    }
    .resume_part .education_part {
        flex-basis: 90%;
        border-bottom: 2px solid #b52727;
    }
    .resume_section .fixed_container > h1 {
        font-size: 25px;
    }
}



/* Footer Section CSS  */
footer {
    background: #FFF8F3;
}
.footer_section {
    padding: 80px 0px;
}
.footer_content {
    display: flex;
    justify-content: space-between;
}
.footer-left h1 {
    font-size: 40px;
}
.footer-left p {
    font-size: 15px;
    margin: 20px 0px;
}
.footer-left .footer_icon a {
    display: inline-block;
    margin-right: 20px;
}
.footer-left .footer_icon a span {
    display: inline-block;
}
.footer-left .footer_icon a span i {
    font-size: 25px;
    color: #FD6E0A;
}
.footer_content .footer_sm {
    flex-basis: 48%;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-left h1 {
    font-size: 40px;
    margin-top: 10px;
}
.footer-right .footer_form {
    width: 66%;
    margin-top: 20px;
}
.footer-right .footer_form form {
    display: flex;
    flex-direction: column;
}
.footer-right .footer_form input {
    padding: 8px 14px;
    margin-bottom: 13px;
    border-radius: 2px;
    border: none;
    height: 55px;
    /* outline: 1px solid gray; */
    outline: none;
    font-size: 19px;
}
.footer-right .footer_form textarea {
    font-size: 19px;
    padding: 10px 14px;
    border: none;
    /* outline: 1px solid gray; */
    outline: none;
}
.footer-right .footer_form button {
    margin-top: 14px;
    display: inline-block;
    padding: 16px;
}

@media screen and (max-width:768px) {
    .footer_content {
        flex-direction: column;
        row-gap: 30px;
    }
    .footer_content .footer_sm {
        text-align: center;
    }
    .footer-right .footer_form {
        width: 80%;
    }
}
@media screen and (max-width:576px) {
    .footer-right .footer_form {
        width: 100%;
    }
}
